.new-event-tabs {
  padding: 15px;
}

.image-upload {
  width: 100%;
}

.mobile {
  width: 22vw;
  height: 540px;
  color: #000;
  border: 20px solid #494949;
  border-radius: 10px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRLEJiJPwyuYhTuSo9TmomnmlccQfVKcknLGOBCvKQvQ6sgtLI9');
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 200% auto;
}

.badge {
  display: flex;
  flex-direction: column;
  width: 378px;
  height: 540px;
  padding-top: 80px;
  margin-bottom: 24px;
  color: #000;
  border: 1px solid #000;
  background-repeat: no-repeat;
  background-size: 200% auto;

  @media print {
    border: none;
  }
  .badge-fields {
    flex: 1 0 auto;
    display: flex;
    margin-top: 13px;
    flex-direction: column;
    justify-content: flex-start;

    > div {
      padding: 8px;
    }
  }

  .badge-qrcode {
    padding: 0 0 10px 0;
    text-align: center;
  }

  .badge-category {
    height: 47px;
    margin: 8px;
    padding: 5px;
    line-height: 37px;
    font-weight: bold;
    margin-bottom: 35px;
  }
}
