.ant-table-tbody > tr:nth-child(even) {
	background: #fafafa;
}

.ant-table-thead {
	> tr {
		> th {
			background-color: #177529;
			.anticon-filter,
			.ant-table-filter-icon,
			.ant-table-column-sorter {
				color: rgba(0, 0, 0, 0.3) !important;
			}

			.ant-table-column-sorter-up.on,
			.ant-table-column-sorter-down.on,
			.ant-table-filter-selected.anticon-filter {
				color: #000 !important;
			}

			&.ant-table-column-has-actions {
				&.ant-table-column-has-sorters:hover,
				&.ant-table-column-has-sorters:hover .anticon-filter,
				&.ant-table-column-has-sorters:hover .ant-table-filter-icon,
				&.ant-table-column-has-filters:hover .anticon-filter:hover,
				&.ant-table-column-has-filters:hover .ant-table-filter-icon:hover {
					background: #fcb713 !important;
				}
			}
		}
	}
}

tr.ant-table-expanded-row {
	> td {
		padding: 0;

		table {
			border-radius: 0;

			.ant-table-thead > tr:first-child > th:first-child {
				border-top-left-radius: 0;
			}

			.ant-table-thead > tr:first-child > th:last-child {
				border-top-right-radius: 0;
			}
		}
	}
}
